* {
    box-sizing: border-box;
}

.calcolatrice {
    max-width: 400px;
    background-color: #eee;

}

.calcolatrice-bottoni {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0;
}

.calc-numbers {
    background: black ;
    color: white;
    font-size: 2em;
    border:0;
    padding: 0.3em;
    text-align: right;
    width: 100px;
    height: 100px;
}

.AC {
    grid-column : span 2;
}

.TS {
    font-size: 1em;
    height: 75px;
    border: 1px solid black;
}

